@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}

span {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0576c2;
}

a:hover {
  color: white;
  font-weight: bold;
}

.top-wrapper {
  margin: 0;
  padding: 1rem 1.5em;
  background-color: #eaecf1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.nav-links {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 1.3rem;
  height: 1.3rem;
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0.2rem 0.3rem;
  font-size: 1rem;
  line-height: 2em;
}

.page-one {
  background-image: url(./images/comp_sci_bg.jpeg);
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  color: white;
}

.intro {
  text-align: center;
  justify-content: center;
}

h1 {
  padding: 0 3em;
}

p {
  padding: 0 2em;
  display: grid;
}

q {
  padding: 1em 1em 1em 4em;
  text-align: start;
}

cite {
  padding: 0 2em 0.5em 4em;
  text-align: start;
}

.info {
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

.info a {
  color: white;
}

.info a:hover {
  background-color: transparent;
  color: #bac9f0;
}

.syllabus {
  background-image: url(/images/python-code.jpg);
  background-position: center;
  color: white;
}

.syllabus a {
  color: white;
}

.syllabus a:hover {
  background-color: transparent;
  color: #bac9f0;
}

aside {
  background-color: grey;
}

.semester {
  padding: 1em;
}
