* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin: auto;
}

logo.left {
  height: 100%;
  width: 100%;
}

.main-title h1 {
  font-size: 4em;
  color: rgb(48, 77, 238);
}

.main-title h2 {
  font-size: 2em;
}

logo.right {
  height: 100%;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  height: 12vh;
  background: rgb(48, 77, 238);
}
.link {
  color: white;
  text-decoration: none;
  font-size: 2em;
}
