@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}

body, textarea, input,
p, h1, h2, h3 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0576c2;
}

a:hover {
  color: rgb(233, 167, 167);
}

header {
  background-color: #eaecf1;
}

.top-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  width: clamp(1.5rem, 2vw, 3rem);
  height: auto;
  margin-left: .5rem;
}

.logo a {
  font-weight: bold;
  font-size: clamp(1.5rem, 1.5vw, 3rem);
}

nav ul {
  display: flex;
}

nav li {
  font-size: clamp(1rem, 1.25vw, 2rem);
  margin-left: 2rem;
}

.hero-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 25vh 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hero-main {
  font-size: calc(.75rem + .5vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-main h1 {
  font-size: calc(2rem + 1vw);
  margin: 0;
}

.hero-main h3 {
  font-size: calc(1.25rem + .5vw);
  margin: 0;
  margin-bottom: 1em;
}

.hero-main p {
  width: 90%;
  margin: 0;
}

.course-links {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.course-links a {
  line-height: 1.5rem;
}

.hero {
  width: 50%;
  display: flex;
  justify-content: center;
}

.hero img {
  width: 30vw;
  height: auto;
}

.courses-wrapper {
  background-color: rgba(0, 0, 255, .6);
  padding: 8rem 0;
  box-shadow: 0px 5px 10px 10px rgba(0, 0, 255, .6);
}

.courses {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5rem;
  /* border: solid 1px black; */
}

article {
  width: 45%;
  min-width: 300px;
  height: 20vh;
  background: #eaecf1;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px;
}

.course-image {
  width: 40%;
  height: auto;
  border-radius: 10px 0 0 10px;
}

.course-header {
  width: 55%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}

.course-header a{
  margin-bottom: .75rem;
  font-size: calc(.8rem + .25vw);
}

.course-header p{
  width: 90%;
}

.contact {
  background: #EBECF0;
  text-justify: center;
}

form {
  width: 50%;
  color: #BABECC;
  text-shadow: 1px 1px 1px #FFF;
  display: flex;
  flex-direction: column;

}

.form-item {
  margin: 0 0 .5em 0;
}

label {
  font-weight: bolder;
}


@media  (max-width: 1200px) {
  nav li {
    margin-left: 1rem;
  }

  .hero-wrapper {
    width: 90%;
    padding: 5rem 0;
    flex-direction: column-reverse;
  }

  .hero-main {
    align-items: center;
  }

  .hero-main h1,
  .hero-main p,
  .hero-main a{
    text-align: center;
    margin-left: 0;
  }

  .hero {
    margin-bottom: 3rem;
  }

  .courses {
    justify-content: center;
  }

  .course-header {
    padding-top: 1rem;
    width: 45%;
    font-size: .75rem;
  }

  .course-image {
    width: 50%;
    height: auto;
    border-radius: 10px 0 0 10px;
  }
}