@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0576c2;
}

a:hover {
  background-color: #bac9f0;
}

.top-wrapper {
  margin: 0;
  padding: 1.5rem 0;
  background-color: #eaecf1;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-bottom: 2rem;
}

.nav-links {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 1.3rem;
  height: 1.3rem;
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0.2rem 0.3rem;
  font-size: 1rem;
}

.bottom-wrapper {
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.hero {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.hero img {
  border: 1px solid black;
  height: 200px;
  width: 70%
  margin: 40px 40px;
  margin-bottom: 1.5rem
}

.hero h1 {
  border: 1px solid black;
  margin-bottom: .5rem;
}

.hero p {
  border: 1px solid black;
  text-align: center;

}

.bottom-main {
  margin: 40px 40px;
  text-align: center;
}
