@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #0576c2;
}

a:hover {
  background-color: #bac9f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-wrapper {
  margin: 0;
  width: 100%;
  background-color: #eaecf1;
}

header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 1.3rem;
  height: 1.3rem;
}

.logo a {
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  display: flex;
}

nav li {
  margin: 0.4rem 0.5rem;
  font-size: 1rem;
}

.bottom-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.hero img {
  margin: 40px 40px;
}

.hero h1 {
  margin: 0;
}

.hero p {
  margin: 10px 0;
  text-align: center;
}

.bottom-main {
  margin: 40px 40px;
  text-align: center;
}
